.App {
  text-align: center;
  color: black;
  /* font-family: "Monda", sans-serif; */
}

body {
  /* background-image: url("/Images/time-background.png"); */
  background-image: url("https://res.cloudinary.com/amazing-pet-grooming/image/upload/v1605181039/varios/timebg_nw0roo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.appHeader {
  background-color: rgb(5, 0, 0);
}

.logo {
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.footer {
  background: black;
  color: rgb(67, 217, 255);
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 767px) {
  .logo {
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}
